{% include "base.html" %}

<style>
    h3 {
        text-align: center; /* Center align the text */
        color: #ffffff; /* Set the text color to white */
    }

    .first-div {
        width: 100%; /* Set the width of the div */
        height: 15%; /* Set the height of the div */
        background-color: Darkblue; /* Set the background color of the div */
    }

    .top-right-link {
        position: absolute;
        top: 10px; /* Adjust the top position as needed */
        right: 10px; /* Adjust the right position as needed */
        margin-top: 5px; /* Add some margin between buttons if needed */
    }
    
    
    
</style>

{% block body %}
<div class="first-div">
    <h3>WELCOME TO JOB APPLICATION SYSTEM!</h3>
    <br><br>
    <p class="top-right-link"><a href="register" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Register</a></p>
    
    <p class="top-right-link"><a href="login" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Login</a></p>
</div>
{% endblock body %}